body{
	background: url("http://www.imgbase.info/images/safe-wallpapers/anime/dragon_ball_z/17824_dragon_ball_z.jpg");
	width: 100%;
	height: 100%;
}

.container{
	width: 70%;
	height: 100%;
	background: white;
	margin: 0 auto;
	background: lightyellow;
	position:  relative;
}

.header{
	text-align: center;
	color: blue;
}

.all-questions{
	text-align: center;
	display: none;
}

.btn{
	width: 100px;
	height: 100%;
	text-align: center;
	margin: 0 auto;
	position: relative;
	left: 46%;
	padding: 5px;
	background: white;
}

.results{
	text-align: center;
	display: none;
}

.timer-container{
	text-align: center;
}

.container{
	padding-bottom: 20px;
}
